.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 5px;
}

.buttonPaged {
    background-color: #a2ffc4;
    padding: 6px;
    border: 1px solid #4a8b62;
    border-radius: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.buttonCurrent {
    background-color: #4a8b62;
    padding: 6px;
    border: 1px solid #4a8b62;
    border-radius: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
}

.buttonPaged:hover {
    background-color: #4a8b62;
    color: white;
}